@use '../../../shared/styles/extends.scss';
@use '../../../shared/styles/mixins.scss';

.login {
    @include mixins.flex(column, center, center);
    height: 100vh;

    &-form {
        @extend %form-login-register;

        &__title {
            margin-top: 20px;
            text-align: center;
        }

        &__input {
            @include mixins.input();
            margin: 15px 0;
        }

        &__button {
            width: max(100px, 50%);
        }

        &__error {
            @extend %error;
        }
    }

    &-register__button {
        width: clamp(100px, 20%, 200px);
    }

    &-register__button,
    &-form__button {
        @extend %button;
        display: block;
        margin: 20px auto;
    }
}