@use "../../../shared/styles/extends.scss";
@use "../../../shared/styles/mixins.scss";
@use "../../../shared/styles/variables.scss" as vars;

.dashboard-header {
    height: vars.$height-header-dashboard;
    @include mixins.flex(row, space-between, center);
    padding: 0 20px;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        height: auto;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 10px 0;
        color: var(--primary-text-color);
    }

    &__buttons {
        display: flex;
        gap: 10px;
    }

    &__button {
        @extend %button;
    }
}

.dashboard-main {
    background-color: var(--threery-color);
    display: flex;
    width: 100%;
    min-height: calc(100% - vars.$height-header-dashboard);

    .notes,
    .untitled-notes,
    .chat {
        flex: 1;
        border: 1px solid var(--border-color);
    }

    .chat {
        flex: 2;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }
}