@use "../../../shared/styles/extends.scss";
@use "../../../shared/styles/mixins.scss";
@use "../../../shared/styles/variables.scss";

.chat {
    &-header {
        @extend %header;

        &__title {
            @extend %header-title;
        }
    }

    &-main {
        @extend %main;
        @include mixins.flex(column, space-around, none);
    }

    &-message {
        overflow: auto;
        height: clamp(150px, 50vh, 500px);

        &__title {
            text-align: center;
            padding: 0 auto;
            margin: 10px 0;
            font-size: 1.5rem;
        }

        &__action {
            display: block;
            padding: 10px 0;
            margin: 10px auto;
            width: clamp(100px, 100px + 5vw, 250px);
        }

        &__text {
            width: clamp(100px, 100px + 10vw, 300px);
            border: none;
        }

        &__text--user {
            margin: 0 0 0 auto;
        }

        &__text--bot {
            cursor: pointer;
            position: relative;

            &:hover::after {
                content: 'Click to make a note';
                color: var(--primary-text-color);
                background-color: var(--accent-color);
                position: absolute;
                top: -20px;
                right: 0;
                padding: 5px;
                border-radius: 5px;
                font-size: clamp(0.5rem, 0.1875rem + 1vw, 0.75rem);
            }
        }

        &__text legend {
            width: 100%;
            padding-right: 10px;
            margin-bottom: 2px;
        }

        &__text--user legend {
            text-align: right;
        }

        &__text pre {
            width: clamp(100px, 100px + 10vw, 300px);
            background-color: var(--secondary-color);
            font-size: 0.75rem;
            padding: 10px;
            border-radius: 5px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            white-space: pre-wrap;

        }

        &__text--bot pre {
            background-color: var(--primary-color);
            border: 1px solid var(--border-color);
        }
    }

    &-footer {
        @include mixins.flex(row, center, center);
        flex-wrap: wrap;
        margin-top: 20px;
        width: 100%;

        &__field {
            position: relative;
            width: 65%;
            margin: 0 10px;
            border: none;
            border-radius: 10px;
        }

        &__input {
            @include mixins.input();
            padding: 8px;
            line-height: 1.5rem;
            font-size: 1rem;
        }

        &__error {
            color: var(--error-color);
            font-size: 0.6rem;
            padding: 2px;
            position: absolute;
            top: -1.25rem;
            left: 0;
        }

        &__action {
            @extend %button;
            margin: 5px;
            padding: 1.5rem 30px;
        }
    }
}