@use "../../../shared/styles/extends.scss";
@use "../../../shared/styles/mixins.scss";

.untitled-notes {
    &-header {
        @extend %header;

        &__title {
            @extend %header-title;
        }
    }

    &-main {
        @extend %main;
        background-color: var(--secondary-color);
        @include mixins.flex(row, center, center);
    }

    &__text {
        font-size: 1.5rem;
        color: var(--primary-text-color);
        opacity: 0.8;
    }

    &__notes {
        width: max(100px, 90%);
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    &__input {
        width: 90%;
        padding: 10px;
    }

    &__button--save,
    &__button--close,
    &__label,
    &__input {
        margin: 5px;
    }

    &__button--close {
        @extend %button;
        width: 30px;
        height: 30px;
        padding: 0;
        margin-left: 10px;
    }

    &__button--save {
        @extend %button;
        width: 90%;
        padding: 10px;

    }

    &__input--textarea {
        height: 40%;
        resize: none;
    }

    &__error {
        @extend %error;
    }

}