@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin input($border: true, $resize: none) {
    display: block;
    border-radius: 10px;
    padding: 10px;
    width: 100%;

    @if $border {
        border: 1px solid var(--border-color);
    }

    @else {
        border: none;
    }

    @if $resize {
        resize: $resize;
    }

    &:focus {
        outline: none;
    }
}