@use "../../../../shared/styles/extends.scss";
@use "../../../../shared/styles/mixins.scss";
@use "../../../../shared/styles/variables.scss" as vars;

.notes {
    &-header {
        @extend %header;

        &__title {
            @extend %header-title;
        }
    }

    &-main {
        @extend %main;
        max-height: calc(100vh - vars.$height-header - vars.$height-header-dashboard - 20px);
        padding: 10px;
        overflow-y: auto;
    }

    &-tag-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 10px 0;

        &__button {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: var(--secondary-color);
            color: var(--primary-text-color);

            &:hover {
                background-color: var(--success-color);
            }

            &--active {
                background-color: var(--accent-color);
                color: var(--primary-color);
            }
        }
    }
}