.notes {
    &-main {
        overflow-y: auto;
    }

    &-tag-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 10px 0;

        &__button {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: var(--secondary-color);
            color: var(--primary-text-color);

            &:hover {
                background-color: var(--border-color);
            }

            &--active {
                background-color: var(--accent-color);
                color: var(--primary-color);
            }
        }
    }
}

.notes {
    &-header {
        height: 40px;
        border-bottom: 1px solid var(--border-color);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            font-size: 1.5rem;
            padding-left: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
    }

    &-main {
        min-height: 300px;
        height: calc(100% - 40px);
        max-height: calc(100vh - 100px);
        padding: 10px;
    }
}